<form autocomplete="off">
    <div class="field is-grouped">
        <div class="control">
            <div class="select">
                <select name="type" hx-post="/ui/place/update" hx-trigger="change" hx-target="#form_place_create"
                    hx-swap="outerHTML">
                    {%- for place in hierarchy %}
                    <option value="{{place}}">{{place}}</option>
                    {%- endfor%}
                </select>
            </div>
        </div>
        <div class="control">
            <div class="select">
                <select name="op" hx-post="/ui/place/update" hx-trigger="change" hx-target="#form_place_create"
                    hx-swap="outerHTML">
                    <option value="new">New</option>
                    <option value="bulk">Bulk</option>
                </select>
            </div>
        </div>
    </div>
</form>